<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/habitaciones" class="nav-link">Listado de habitaciones</a>
            </li>
        </ul>
    </div>
</nav>