<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/habitaciones" class="nav-link {% if uri == "/habitaciones" %} active {% endif %}">Listado de habitaciones</a>
            </li>
            <li class="nav-item">
                <a href="/habitaciones/nueva" class="nav-link {% if uri == "/nueva" %} active {% endif %}">Insertar una habitacion</a>
            </li>
        </ul>
    </div>
</nav>